# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




# ==============================
# ENV FILES (DO NOT PUSH)
# ==============================

# Root env
.env

# Python AI chatbot env
aimlchatbot/.env

# Node backend env
backend/.env

# Vite frontend env
FRONTEND/.env


# ==============================
# PYTHON
# ==============================
aimlchatbot/__pycache__/
aimlchatbot/.venv/
*.pyc


# ==============================
# NODE
# ==============================
backend/node_modules/
FRONTEND/node_modules/


# ==============================
# LOGS
# ==============================
*.log
npm-debug.log*
